<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cafetería La Curva{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="layout">

        <aside class="sidebar">
            <div class="brand">
                <h1>☕ Cafetería La Curva</h1>
                <p>Sistema de gestión</p>
            </div>

            <nav class="sidebar-menu">
                <a href="{{ url_for('dashboard') }}">Inicio</a>
                <a href="{{ url_for('productos') }}">Inventario</a>
                <a href="{{ url_for('facturacion') }}">Facturación</a>
                <a href="{{ url_for('ventas') }}">Ventas</a>
                <a href="{{ url_for('reportes') }}">Reportes</a>
                <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
                <a href="{{ url_for('graficas') }}">Gráficas</a>
                <a href="{{ url_for('caja') }}">Caja</a>
                 <a href="{{ url_for('ganancias') }}">ganancias</a>
                <a href="{{ url_for('logout') }}" class="logout-btn">Salir</a>
                
            </nav>
        </aside>

        <main class="main-content">
            <header class="topbar">
                <h2>{% block page_title %}Panel principal{% endblock %}</h2>
            </header>

            <section class="content-area">
                {% block content %}{% endblock %}
            </section>
        </main>

    </div>

</body>
</html>