{% extends "base.html" %}
{% block content %}

<h2>📊 Ganancias del negocio</h2>

<h3>💵 Total vendido: RD$ {{total_vendido}}</h3>
<h3>📥 Ingreso real: RD$ {{ingreso_total_detalle}}</h3>
<h3>📦 Costo total vendido: RD$ {{costo_total_vendido}}</h3>

<hr>

<h2>🔥 Ganancia total: RD$ {{ganancia_total}}</h2>

<hr>

<h3>📦 Valor inventario: RD$ {{valor_inventario}}</h3>

<hr>

<h2>📈 Distribución inteligente</h2>

<ul>
<li>🔁 Reinversión (60%): RD$ {{capital_reinversion}}</li>
<li>💰 Ahorro (20%): RD$ {{ahorro_reserva}}</li>
<li>⚠️ Fondo emergencia (20%): RD$ {{fondo_imprevistos}}</li>
</ul>

{% endblock %}